<div>
    <span style="color: white;">ID del Carrito: {{cid}}</span>
</div>

<div>
    <ul>
        <h4 style="color: white;">Productos agregados al carrito</h4>
        {{#each products}}
        <li>
            <div style="display: flex; align-items: center; height: 100px;">
                <img src="{{thumbnail}}" alt="{{title}}" style="max-width: 100px;">
                <span style="color: white; font-weight: bold;">Producto: {{title}} - ${{price}} - Cantidad: {{quantity}}</span>
            </div>
        </li>
        {{/each}}
    </ul>
</div>

{{#if products.length}}
    <button id="purchaseBtn" data-cart-id="{{cid}}" data-mail-user="{{mailUser}}">Finalizar Compra</button>
    <button id="emptyCartBtn" data-cart-id="{{cid}}">Vaciar Carrito</button>
{{/if}}

<div id="purchaseResults" class="ticket" style="display: none;">
    <h4 style="color: white;">Productos Comprados</h4>
    <ul id="purchasedProducts"></ul>
    <h4 style="color: white;">Productos No Comprados</h4>
    <ul id="notPurchasedProducts"></ul>
    <p id="totalCuenta"></p>
</div>

<!-- Scripts al final de la página -->
<script src="/js/cart.js"></script>
<script src="/js/cartActions.js"></script>
<script src="/js/cartPurchase.js"></script>
<script src="https://js.stripe.com/v3/"></script>
<script>
    document.getElementById('purchaseBtn').addEventListener('click', async () => {
        const cartId = document.getElementById('purchaseBtn').getAttribute('data-cart-id');
        
        const response = await fetch(`/api/carts/${cartId}`);
        const cartData = await response.json();

        const items = cartData.products.map(product => ({
            name: product.title,
            description: product.description,
            price: product.price,
            quantity: product.quantity
        }));

        const sessionResponse = await fetch('/payments/create-checkout-session', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ items })
        });

        const sessionData = await sessionResponse.json();
        const stripe = Stripe('pk_test_51PX2ZiGgMZb7GRHpNkmUqfHn0O0XwxNvhmFPVQvAeqY3k3mDWhcA6v7X5vdqK0xhQB03p6AJgnwhn9CcOjxFgOjk00oRDCLCgM');

        stripe.redirectToCheckout({ sessionId: sessionData.id });
    });
</script>
