<div class="container mt-4">
    <div class="row">
        <div class="col">
            <span class="text-white">ID del Carrito: {{cid}}</span>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col">
            <h4 class="text-white">Productos agregados al carrito</h4>
            <ul class="list-unstyled">
                {{#each products}}
                <li class="media mb-3">
                    <img src="{{thumbnail}}" class="mr-3" alt="{{title}}" style="max-width: 100px;">
                    <div class="media-body text-white">
                        <h5 class="mt-0 mb-1 font-weight-bold">Producto: {{title}}</h5>
                        <p>Precio: ${{price}} - Cantidad: {{quantity}}</p>
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>

    {{#if products.length}}
    <div class="row mt-4">
        <div class="col">
            <button id="purchaseBtn" class="btn btn-primary" data-cart-id="{{cid}}" data-mail-user="{{mailUser}}">Finalizar Compra</button>
            <button id="emptyCartBtn" class="btn btn-danger ml-2" data-cart-id="{{cid}}">Vaciar Carrito</button>
        </div>
    </div>
    {{/if}}

    <div id="purchaseResults" class="ticket mt-4" style="display: none;">
        <div class="row">
            <div class="col">
                <h4 class="text-white">Productos Comprados</h4>
                <ul id="purchasedProducts" class="list-unstyled"></ul>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4 class="text-white">Productos No Comprados</h4>
                <ul id="notPurchasedProducts" class="list-unstyled"></ul>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p id="totalCuenta" class="text-white"></p>
            </div>
        </div>
    </div>
</div>

<!-- Scripts al final de la página -->
<script src="/js/cart.js"></script>
<script src="/js/cartActions.js"></script>
<script src="/js/cartPurchase.js"></script>
<script src="https://js.stripe.com/v3/"></script>
<script>
    document.getElementById('purchaseBtn').addEventListener('click', async () => {
        const cartId = document.getElementById('purchaseBtn').getAttribute('data-cart-id');
        
        const response = await fetch(`/api/carts/${cartId}`);
        const cartData = await response.json();

        const items = cartData.products.map(product => ({
            name: product.title,
            description: product.description,
            price: product.price,
            quantity: product.quantity
        }));

        const sessionResponse = await fetch('/payments/create-checkout-session', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ items })
        });

        const sessionData = await sessionResponse.json();
        const stripe = Stripe('pk_test_51PX2ZiGgMZb7GRHpNkmUqfHn0O0XwxNvhmFPVQvAeqY3k3mDWhcA6v7X5vdqK0xhQB03p6AJgnwhn9CcOjxFgOjk00oRDCLCgM');

        stripe.redirectToCheckout({ sessionId: sessionData.id });
    });
</script>
