<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .card {
            background: linear-gradient(to bottom, #8a2be2, #4b0082);
            border: 1px solid white; /* Borde blanco alrededor de la tarjeta */
            color: white; /* Texto en color blanco para mejor contraste */
        }
        body {
            background-color: #343a40;
            color: white;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h1>Productos</h1>
        <div class="d-flex justify-content-center mb-4">
            <button class="btn btn-primary mr-2" onclick="filterByCategory('consolas')">Consolas</button>
            <button class="btn btn-primary mr-2" onclick="filterByCategory('videojuegos')">Videojuegos</button>
            <button class="btn btn-primary mr-2" onclick="filterByCategory('figuras de Acción')">Figuras de Acción</button>
            <button class="btn btn-primary" onclick="filterByCategory('accesorios')">Accesorios</button>
        </div>
        <div class="row" id="product-container">
            {{#each products}}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{thumbnail}}" class="card-img-top" alt="{{title}}">
                    <div class="card-body">
                        <h5 class="card-title">{{title}}</h5>
                        <p class="card-text">{{description}}</p>
                        <p class="card-text"><strong>Precio:</strong> ${{price}}</p>
                        <p class="card-text"><strong>Categoría:</strong> {{category}}</p>
                        <p class="card-text"><strong>Código:</strong> {{code}}</p>
                        <p class="card-text"><strong>Stock:</strong> {{stock}}</p>
                        <a href="/products/{{this._id}}" class="btn btn-light">Ver</a>
                        <button class="addToCartBtn btn btn-primary" data-product-id="{{_id}}" data-cart-id="{{../cart}}">Agregar al Carrito</button>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        
        <nav>
            <ul class="pagination">
                {{#if prevLink}}
                <li class="page-item">
                    <a class="page-link" href="{{prevLink}}">Anterior</a>
                </li>
                {{/if}}
                {{#if nextLink}}
                <li class="page-item">
                    <a class="page-link" href="{{nextLink}}">Siguiente</a>
                </li>
                {{/if}}
            </ul>
        </nav>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/js/filterProducts.js"></script>
    <script src="/js/addProductCart.js"></script>
</body>
</html>
