<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .card {
            background: linear-gradient(to bottom, #8a2be2, #4b0082);
            border: 1px solid white; /* Borde blanco alrededor de la tarjeta */
            color: white; /* Texto en color blanco para mejor contraste */
        }
        body {
            background-color: #343a40;
            color: white;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h1>Productos</h1>
        
        <!-- Filtros por categoría -->
        <div class="row mb-4">
            <div class="col-md-6">
                <label for="categoryFilter">Filtrar por categoría:</label>
                <select id="categoryFilter" class="form-control">
                    <option value="">Todas las categorías</option>
                    <option value="Consolas">Consolas</option>
                    <option value="Videojuegos">Videojuegos</option>
                    <option value="Accesorios">Accesorios</option>
                    <option value="Figuras de Acción">Figuras de Acción</option>
                </select>
            </div>
        </div>
        
        <div class="row" id="product-container">
            {{#each products}}
            <div class="col-md-4 mb-4 product-card {{category}}">
                <div class="card">
                    <img src="{{thumbnail}}" class="card-img-top" alt="{{title}}">
                    <div class="card-body">
                        <h5 class="card-title">{{title}}</h5>
                        <p class="card-text">{{description}}</p>
                        <p class="card-text"><strong>Precio:</strong> ${{price}}</p>
                        <p class="card-text"><strong>Categoría:</strong> {{category}}</p>
                        <p class="card-text"><strong>Código:</strong> {{code}}</p>
                        <p class="card-text"><strong>Stock:</strong> {{stock}}</p>
                        <a href="/products/{{this._id}}" class="btn btn-light">Ver</a>
                        <button class="addToCartBtn btn btn-primary" data-product-id="{{_id}}" data-cart-id="{{../cart}}">Agregar al Carrito</button>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        
        <nav>
            <ul class="pagination">
                {{#if prevLink}}
                <li class="page-item">
                    <a class="page-link" href="{{prevLink}}">Anterior</a>
                </li>
                {{/if}}
                {{#if nextLink}}
                <li class="page-item">
                    <a class="page-link" href="{{nextLink}}">Siguiente</a>
                </li>
                {{/if}}
            </ul>
        </nav>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/js/addProductCart.js"></script>
    <script>
        $(document).ready(function() {
            $('#categoryFilter').change(function() {
                var selectedCategory = $(this).val();
                $('.product-card').hide(); // Ocultar todas las tarjetas de productos
                
                if (selectedCategory === '') {
                    $('.product-card').show(); // Mostrar todas las tarjetas si se selecciona Todas las categorías
                } else {
                    $('.' + selectedCategory).show(); // Mostrar solo las tarjetas de la categoría seleccionada
                }
            });
        });
    </script>
</body>
</html>
