<div>
    <h2><img src="{{this.product.thumbnail}}" alt="{{this.product.title}}" style="max-width: 150px;"> {{this.product.title}}</h2>
    <hr />
    <table>
        <thead>
            <tr>
                <td>Descripción</td>
                <td>Precio</td>
                <td>Código</td>
                <td>Stock</td>
                <td>Categoría</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{this.product.description}}</td>
                <td>{{this.product.price}}</td>
                <td>{{this.product.code}}</td>
                <td>{{this.product.stock}}</td>
                <td>{{this.product.category}}</td>
                {{#if this.userAdminControl}}
                <td>
                    <button class="addToCartBtn" cID={{this.cartID}} data-product-id={{this.product._id}}>Agregar al carrito</button>
                </td>
                {{/if}}
            </tr>
        </tbody>
    </table>
</div>

<script src="/js/addProductCart.js"></script>

